.row
  .col-md-3.col-sm-12
    .alert.alert-warning Curtindo nosso vídeo você levará nossas aulas a mais pessoas.
  .col-md-3.col-sm-12.col-xl-6
    /Channel Subscribe
    script src="https://apis.google.com/js/platform.js"
    div class="g-ytsubscribe" data-channelid="UCfsI-F8KtcNFpmxg7zMid-w" data-layout="full" data-count="default"
  .col-md-6.col-sm-12.col-xl-6
    /Like / Dislike buttons
    .col-md-3.col-sm-6.col-xl-6
      button.btn.btn-link.btn-success.btn-icon#like onclick="authenticate().then(loadClient)"
        i.fal.fa-thumbs-up
        = ' Gostei'
    .col-md-3.col-sm-6.col-xl-6
      button.btn.btn-link.btn-success.btn-icon#dislike onclick="authenticate().then(loadClient)"
        i.fal.fa-thumbs-down
        = ' Não gostei'
    / .col-md-3.col-sm-6.col-xl-6
    /   button onclick="execute()" execute
/Video Render
iframe width="100%" height="500" src="https://www.youtube.com/embed/videoseries?list=PLPJvRB7ImtVPzF5BNMKtEVSHKBqt2i9cg" title="#{@card_title}" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"

script src="https://apis.google.com/js/api.js"
javascript:
  /**
   * Sample JavaScript code for youtube.videos.rate
   * See instructions for running APIs Explorer code samples locally:
   * https://developers.google.com/explorer-help/guides/code_samples#javascript
   */
  function authenticate() {
    return gapi.auth2.getAuthInstance()
        .signIn({scope: "https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.force-ssl https://www.googleapis.com/auth/youtubepartner"})
        .then(function() { console.log("Sign-in successful"); },
              function(err) { console.error("Error signing in", err); });
  }
  function loadClient() {
    gapi.client.setApiKey("#{NENV['YT_GOOGLE_API_KEY']}");
    return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function() { console.log("GAPI client loaded for API"); },
              function(err) { console.error("Error loading GAPI client for API", err); });
  }
  // Make sure the client is loaded and sign-in is complete before calling this method.
  function execute(videoId, type) {
    if(!type) type = "like"
    return gapi.client.youtube.videos.rate({
      "id": videoId,
      "rating": type
    })
        .then(function(response) {
                // Handle the results here (response.result has the parsed body).
                console.log("Response", response);
              },
              function(err) { console.error("Execute error", err); });
  }
  gapi.load("client:auth2", function() {
    gapi.auth2.init({client_id: "#{NENV['YT_GOOGLE_CLIENT_ID']}"});
  });
